USE [master]
GO
/****** Object:  Database [FrapperDB]    Script Date: 20-11-2020 10.54.39 AM ******/
CREATE DATABASE [FrapperDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FrapperDB', FILENAME = N'C:\db\FrapperDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FrapperDB_log', FILENAME = N'C:\db\FrapperDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FrapperDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FrapperDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssignedRoles]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignedRoles](
	[AssignedRoleId] [smallint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NULL,
	[RoleId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_AssignedRoles] PRIMARY KEY CLUSTERED 
(
	[AssignedRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configurations]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configurations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Uri] [nvarchar](500) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[DiscoveryService] [nvarchar](100) NULL,
 CONSTRAINT [PK_Configurations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Customer_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[MobileNo] [varchar](20) NULL,
	[LandlineNo] [varchar](20) NULL,
	[EmailId] [nvarchar](100) NULL,
	[Street] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Pincode] [varchar](8) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[ModifiedBy] [bigint] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentUploadedFiles]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentUploadedFiles](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[FileType] [varchar](100) NULL,
	[DataFiles] [varbinary](max) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[ModifiedBy] [bigint] NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exceptions]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exceptions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[ApplicationName] [nvarchar](50) NOT NULL,
	[MachineName] [nvarchar](50) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
	[IsProtected] [bit] NOT NULL,
	[Host] [nvarchar](100) NULL,
	[Url] [nvarchar](500) NULL,
	[HTTPMethod] [nvarchar](10) NULL,
	[IPAddress] [varchar](40) NULL,
	[Source] [nvarchar](100) NULL,
	[Message] [nvarchar](1000) NULL,
	[Detail] [nvarchar](max) NULL,
	[StatusCode] [int] NULL,
	[DeletionDate] [datetime] NULL,
	[FullJson] [nvarchar](max) NULL,
	[ErrorHash] [int] NULL,
	[DuplicateCount] [int] NOT NULL,
	[LastLogDate] [datetime] NULL,
	[Category] [nvarchar](100) NULL,
 CONSTRAINT [PK_Exceptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Executions]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Executions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [int] NOT NULL,
	[OnStateFrom] [datetime2](7) NOT NULL,
	[LastExecuted] [datetime2](7) NOT NULL,
	[Uri] [nvarchar](500) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[DiscoveryService] [nvarchar](50) NULL,
 CONSTRAINT [PK_Executions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Failures]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Failures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HealthCheckName] [nvarchar](500) NOT NULL,
	[LastNotified] [datetime2](7) NOT NULL,
	[IsUpAndRunning] [bit] NOT NULL,
 CONSTRAINT [PK_Failures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthCheckExecutionEntries]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthCheckExecutionEntries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Status] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Duration] [time](7) NOT NULL,
	[HealthCheckExecutionId] [int] NULL,
	[Tags] [nvarchar](max) NULL,
 CONSTRAINT [PK_HealthCheckExecutionEntries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthCheckExecutionHistories]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthCheckExecutionHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[On] [datetime2](7) NOT NULL,
	[HealthCheckExecutionId] [int] NULL,
 CONSTRAINT [PK_HealthCheckExecutionHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuCategory]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuCategory](
	[MenuCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[MenuCategoryName] [nvarchar](50) NULL,
	[RoleID] [int] NULL,
	[Status] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[ModifiedBy] [bigint] NULL,
	[SortingOrder] [int] NULL,
 CONSTRAINT [PK_MenuCategory] PRIMARY KEY CLUSTERED 
(
	[MenuCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuMaster]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuMaster](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [varchar](100) NULL,
	[ControllerName] [varchar](100) NULL,
	[ActionMethod] [varchar](100) NULL,
	[Status] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[MenuCategoryId] [int] NULL,
	[RoleId] [int] NULL,
	[SortingOrder] [int] NULL,
	[CreatedBy] [bigint] NULL,
	[ModifiedBy] [bigint] NULL,
	[Area] [varchar](100) NULL,
 CONSTRAINT [PK_MenuMaster] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notice]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notice](
	[NoticeId] [int] IDENTITY(1,1) NOT NULL,
	[NoticeTitle] [nvarchar](500) NULL,
	[NoticeStart] [datetime] NULL,
	[NoticeEnd] [datetime] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[ModifiedBy] [bigint] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Notice] PRIMARY KEY CLUSTERED 
(
	[NoticeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoticeDetails]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoticeDetails](
	[NoticeDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[NoticeBody] [varchar](max) NULL,
	[NoticeId] [int] NULL,
 CONSTRAINT [PK_NoticeDetails] PRIMARY KEY CLUSTERED 
(
	[NoticeDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordHistory]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordHistory](
	[PasswordHistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[PasswordHash] [varchar](300) NULL,
	[CreatedDate] [datetime] NULL,
	[UserId] [bigint] NULL,
	[ProcessType] [char](1) NULL,
 CONSTRAINT [PK_PasswordHistory] PRIMARY KEY CLUSTERED 
(
	[PasswordHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfileImageProperty]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileImageProperty](
	[ProfileImageId] [bigint] IDENTITY(1,1) NOT NULL,
	[ImageName] [varchar](100) NULL,
	[ImageType] [varchar](10) NULL,
	[Medium] [varchar](100) NULL,
	[Small] [varchar](100) NULL,
	[Tiny] [varchar](100) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[ModifiedBy] [bigint] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_ProfileImageProperty] PRIMARY KEY CLUSTERED 
(
	[ProfileImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegisterVerification]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegisterVerification](
	[RegisterVerificationId] [bigint] IDENTITY(1,1) NOT NULL,
	[GeneratedToken] [varchar](70) NULL,
	[GeneratedDate] [datetime] NULL,
	[VerificationStatus] [bit] NULL,
	[Status] [bit] NULL,
	[UserId] [bigint] NOT NULL,
	[VerificationDate] [datetime] NULL,
 CONSTRAINT [PK_RegisterVerificationToken] PRIMARY KEY CLUSTERED 
(
	[RegisterVerificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResetPasswordVerification]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResetPasswordVerification](
	[ResetTokenId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NULL,
	[GeneratedToken] [varchar](70) NULL,
	[GeneratedDate] [datetime] NULL,
	[Status] [bit] NULL,
	[VerificationStatus] [bit] NULL,
	[VerificationDate] [datetime] NULL,
 CONSTRAINT [PK_ResetPasswordVerification] PRIMARY KEY CLUSTERED 
(
	[ResetTokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleMaster]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMaster](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[Status] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[ModifiedBy] [bigint] NULL,
 CONSTRAINT [PK_Mst.RoleMaster] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubMenuMaster]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubMenuMaster](
	[SubMenuId] [int] IDENTITY(1,1) NOT NULL,
	[ControllerName] [varchar](100) NULL,
	[ActionMethod] [varchar](100) NULL,
	[SubMenuName] [varchar](100) NULL,
	[Status] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[MenuId] [int] NULL,
	[MenuCategoryId] [int] NULL,
	[RoleId] [int] NULL,
	[SortingOrder] [int] NULL,
	[CreatedBy] [bigint] NULL,
	[ModifiedBy] [bigint] NULL,
	[Area] [varchar](100) NULL,
 CONSTRAINT [PK_SubMenuMaster] PRIMARY KEY CLUSTERED 
(
	[SubMenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[EmailId] [nvarchar](100) NULL,
	[MobileNo] [varchar](20) NULL,
	[Gender] [char](1) NULL,
	[Status] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[IsFirstLogin] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[IsFirstLoginDate] [datetime] NULL,
	[PasswordHash] [varchar](300) NULL,
	[ModifiedBy] [bigint] NULL,
 CONSTRAINT [PK_UserMaster] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokenHistory]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokenHistory](
	[UserTokenHistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[PasswordSalt] [varchar](100) NULL,
	[UserId] [bigint] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_UserTokenHistory] PRIMARY KEY CLUSTERED 
(
	[UserTokenHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[HashId] [int] IDENTITY(1,1) NOT NULL,
	[PasswordSalt] [varchar](100) NULL,
	[UserId] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_UserTokens] PRIMARY KEY CLUSTERED 
(
	[HashId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200410110604_initial', N'3.1.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200915210355_3.1.2-changes', N'3.1.8')
GO
SET IDENTITY_INSERT [dbo].[AssignedRoles] ON 

INSERT [dbo].[AssignedRoles] ([AssignedRoleId], [UserId], [RoleId], [CreateDate], [Status]) VALUES (4, 6, 2, CAST(N'2020-10-17T19:51:03.470' AS DateTime), 1)
INSERT [dbo].[AssignedRoles] ([AssignedRoleId], [UserId], [RoleId], [CreateDate], [Status]) VALUES (5, 7, 2, CAST(N'2020-10-17T21:32:10.880' AS DateTime), 1)
INSERT [dbo].[AssignedRoles] ([AssignedRoleId], [UserId], [RoleId], [CreateDate], [Status]) VALUES (6, 8, 2, CAST(N'2020-10-18T11:38:31.783' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[AssignedRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Configurations] ON 

INSERT [dbo].[Configurations] ([Id], [Uri], [Name], [DiscoveryService]) VALUES (1, N'https://localhost:44331/healthcheck', N'HTTP-Api-Basic', NULL)
SET IDENTITY_INSERT [dbo].[Configurations] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Customer_ID], [FirstName], [LastName], [MobileNo], [LandlineNo], [EmailId], [Street], [City], [State], [Pincode], [CreatedOn], [ModifiedOn], [CreatedBy], [ModifiedBy]) VALUES (1, N'Abhishek', N'Agarwal', N'975555388', N'3855301196', N'AbhishekAgarwal@Frapper.com', N'Back Bay', N'Mumbai', N'Maharashtra', N'400001', CAST(N'2020-11-10T11:56:50.280' AS DateTime), NULL, 12, NULL)
INSERT [dbo].[Customers] ([Customer_ID], [FirstName], [LastName], [MobileNo], [LandlineNo], [EmailId], [Street], [City], [State], [Pincode], [CreatedOn], [ModifiedOn], [CreatedBy], [ModifiedBy]) VALUES (2, N'Aditya', N'Khatri', N'975555388', N'3855301196', N'AdityaKhatri@Frapper.com', N'Back Bay', N'Mumbai', N'Maharashtra', N'400001', CAST(N'2020-11-10T11:56:50.280' AS DateTime), NULL, 12, NULL)
INSERT [dbo].[Customers] ([Customer_ID], [FirstName], [LastName], [MobileNo], [LandlineNo], [EmailId], [Street], [City], [State], [Pincode], [CreatedOn], [ModifiedOn], [CreatedBy], [ModifiedBy]) VALUES (3, N'Amit', N'Ahuja', N'975555388', N'3855301196', N'AmitAhuja@Frapper.com', N'Back Bay', N'Mumbai', N'Maharashtra', N'400001', CAST(N'2020-11-10T11:56:50.280' AS DateTime), NULL, 12, NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentUploadedFiles] ON 

SET IDENTITY_INSERT [dbo].[DocumentUploadedFiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Executions] ON 

INSERT [dbo].[Executions] ([Id], [Status], [OnStateFrom], [LastExecuted], [Uri], [Name], [DiscoveryService]) VALUES (1, 0, CAST(N'2020-11-07T11:52:48.7571387' AS DateTime2), CAST(N'2020-11-19T12:44:56.6071674' AS DateTime2), N'https://localhost:44331/healthcheck', N'HTTP-Api-Basic', NULL)
SET IDENTITY_INSERT [dbo].[Executions] OFF
GO
SET IDENTITY_INSERT [dbo].[Failures] ON 

INSERT [dbo].[Failures] ([Id], [HealthCheckName], [LastNotified], [IsUpAndRunning]) VALUES (1, N'HTTP-Api-Basic', CAST(N'2020-11-07T11:52:48.5473123' AS DateTime2), 0)
INSERT [dbo].[Failures] ([Id], [HealthCheckName], [LastNotified], [IsUpAndRunning]) VALUES (2, N'HTTP-Api-Basic', CAST(N'2020-11-07T12:10:24.5356926' AS DateTime2), 0)
INSERT [dbo].[Failures] ([Id], [HealthCheckName], [LastNotified], [IsUpAndRunning]) VALUES (3, N'HTTP-Api-Basic', CAST(N'2020-11-07T12:11:51.4527157' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Failures] OFF
GO
SET IDENTITY_INSERT [dbo].[HealthCheckExecutionEntries] ON 

INSERT [dbo].[HealthCheckExecutionEntries] ([Id], [Name], [Status], [Description], [Duration], [HealthCheckExecutionId], [Tags]) VALUES (1, N'Sql Server', 2, NULL, CAST(N'00:00:00.0013155' AS Time), 1, N'["db","sql","sqlserver"]')
INSERT [dbo].[HealthCheckExecutionEntries] ([Id], [Name], [Status], [Description], [Duration], [HealthCheckExecutionId], [Tags]) VALUES (2, N'redis', 0, N'It was not possible to connect to the redis server(s).', CAST(N'00:00:15.2115652' AS Time), 1, N'[]')
SET IDENTITY_INSERT [dbo].[HealthCheckExecutionEntries] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuCategory] ON 

INSERT [dbo].[MenuCategory] ([MenuCategoryId], [MenuCategoryName], [RoleID], [Status], [CreatedOn], [ModifiedOn], [CreatedBy], [ModifiedBy], [SortingOrder]) VALUES (1, N'MENUS', 1, 1, CAST(N'2020-10-22T22:40:13.607' AS DateTime), NULL, 10, NULL, NULL)
INSERT [dbo].[MenuCategory] ([MenuCategoryId], [MenuCategoryName], [RoleID], [Status], [CreatedOn], [ModifiedOn], [CreatedBy], [ModifiedBy], [SortingOrder]) VALUES (2, N'USERS', 1, 1, CAST(N'2020-10-23T17:41:46.340' AS DateTime), NULL, 10, NULL, NULL)
INSERT [dbo].[MenuCategory] ([MenuCategoryId], [MenuCategoryName], [RoleID], [Status], [CreatedOn], [ModifiedOn], [CreatedBy], [ModifiedBy], [SortingOrder]) VALUES (3, N'EXCEPTIONS', 1, 1, CAST(N'2020-10-31T19:08:56.417' AS DateTime), NULL, 10, NULL, NULL)
SET IDENTITY_INSERT [dbo].[MenuCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuMaster] ON 

INSERT [dbo].[MenuMaster] ([MenuId], [MenuName], [ControllerName], [ActionMethod], [Status], [CreatedOn], [ModifiedOn], [MenuCategoryId], [RoleId], [SortingOrder], [CreatedBy], [ModifiedBy], [Area]) VALUES (1, N'Create Menu', N'Menumaster', N'Create', 1, CAST(N'2020-10-23T16:45:50.930' AS DateTime), NULL, 1, 1, 2, 0, 0, N'Administration')
INSERT [dbo].[MenuMaster] ([MenuId], [MenuName], [ControllerName], [ActionMethod], [Status], [CreatedOn], [ModifiedOn], [MenuCategoryId], [RoleId], [SortingOrder], [CreatedBy], [ModifiedBy], [Area]) VALUES (3, N'Create SubMenu', N'SubMenuMaster', N'Create', 1, CAST(N'2020-10-23T18:38:48.877' AS DateTime), CAST(N'2020-10-23T17:43:32.463' AS DateTime), 1, 1, 3, 0, 0, N'Administration')
INSERT [dbo].[MenuMaster] ([MenuId], [MenuName], [ControllerName], [ActionMethod], [Status], [CreatedOn], [ModifiedOn], [MenuCategoryId], [RoleId], [SortingOrder], [CreatedBy], [ModifiedBy], [Area]) VALUES (4, N'Create MenuCategory', N'MenuCategory', N'Create', 1, CAST(N'2020-10-23T18:38:48.877' AS DateTime), NULL, 1, 1, 1, 0, 0, N'Administration')
SET IDENTITY_INSERT [dbo].[MenuMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[Notice] ON 

INSERT [dbo].[Notice] ([NoticeId], [NoticeTitle], [NoticeStart], [NoticeEnd], [CreatedOn], [ModifiedOn], [CreatedBy], [ModifiedBy], [Status]) VALUES (1, N'Welcome to Frapper', CAST(N'2020-11-16T11:39:00.000' AS DateTime), CAST(N'2021-11-20T10:46:00.000' AS DateTime), CAST(N'2020-11-16T11:41:44.300' AS DateTime), NULL, 10, NULL, 1)
INSERT [dbo].[Notice] ([NoticeId], [NoticeTitle], [NoticeStart], [NoticeEnd], [CreatedOn], [ModifiedOn], [CreatedBy], [ModifiedBy], [Status]) VALUES (2, N'Notice for Users', CAST(N'2020-11-24T12:55:00.000' AS DateTime), CAST(N'2020-11-26T12:55:00.000' AS DateTime), CAST(N'2020-11-16T12:55:39.920' AS DateTime), CAST(N'2020-11-16T18:31:03.030' AS DateTime), 10, 10, 0)
SET IDENTITY_INSERT [dbo].[Notice] OFF
GO
SET IDENTITY_INSERT [dbo].[NoticeDetails] ON 

SET IDENTITY_INSERT [dbo].[NoticeDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[PasswordHistory] ON 

INSERT [dbo].[PasswordHistory] ([PasswordHistoryId], [PasswordHash], [CreatedDate], [UserId], [ProcessType]) VALUES (1, N'4BEE055019B539BF9B216216D091C2360733D19E9B067852CF0C35CA13227E7F4EFF58FE770AA4662B79C51F1F2DA82DC99E5628DF746C8D09110BDC33BFD391', CAST(N'2020-10-29T13:14:26.273' AS DateTime), 6, N'C')
INSERT [dbo].[PasswordHistory] ([PasswordHistoryId], [PasswordHash], [CreatedDate], [UserId], [ProcessType]) VALUES (2, N'C35F5E9474E7F4EDFE79A54A6BAAB4F3FF88834E5382D052445A839FA53067F8B7C741B76122416EDA8D15A0DA35CCC37638EE047B58E4D08D3DBF9EC0778189', CAST(N'2020-10-29T13:19:43.787' AS DateTime), 6, N'C')
INSERT [dbo].[PasswordHistory] ([PasswordHistoryId], [PasswordHash], [CreatedDate], [UserId], [ProcessType]) VALUES (3, N'E41279DB2A6065AEB6FF3431FA796005ECE321211D9C4582A827C90B6D58DC8DD300AA90F15D6865EB497B0CD50426DA8D0C9F4E3666C1C653F8F62856EEDB4A', CAST(N'2020-10-31T12:24:13.177' AS DateTime), 6, N'R')
SET IDENTITY_INSERT [dbo].[PasswordHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[ProfileImageProperty] ON 

INSERT [dbo].[ProfileImageProperty] ([ProfileImageId], [ImageName], [ImageType], [Medium], [Small], [Tiny], [CreatedOn], [ModifiedOn], [CreatedBy], [ModifiedBy], [Status]) VALUES (1, N'ProfileImage', N'.png', N'/ProfileImages/Photo_200_200__20201120104412687_2b60b349f34f481bb45d35d026f30f8f.png', N'/ProfileImages/Photo_180_180__20201120104412833_fa051879fd084f069ee2dda1799ef03d.png', N'/ProfileImages/Photo_32_32__20201120104412845_b1f5c20fb37c4cebb47ca80858bdc0cc.png', CAST(N'2020-11-20T10:44:12.903' AS DateTime), NULL, 12, NULL, 1)
SET IDENTITY_INSERT [dbo].[ProfileImageProperty] OFF
GO
SET IDENTITY_INSERT [dbo].[RegisterVerification] ON 

INSERT [dbo].[RegisterVerification] ([RegisterVerificationId], [GeneratedToken], [GeneratedDate], [VerificationStatus], [Status], [UserId], [VerificationDate]) VALUES (1, N'afa0a1cf5ffac5349b2671db3ce8502730e66667a1d241729519a5fa72c61e1a', CAST(N'2020-11-01T18:26:31.130' AS DateTime), 1, 1, 12, CAST(N'2020-11-01T18:27:16.960' AS DateTime))
SET IDENTITY_INSERT [dbo].[RegisterVerification] OFF
GO
SET IDENTITY_INSERT [dbo].[ResetPasswordVerification] ON 

INSERT [dbo].[ResetPasswordVerification] ([ResetTokenId], [UserId], [GeneratedToken], [GeneratedDate], [Status], [VerificationStatus], [VerificationDate]) VALUES (1, 6, N'46acd31d4e602c2e0ae832cbd2c68eb56df7b52fdee822fbe9b1322df867f447', CAST(N'2020-10-30T23:20:22.360' AS DateTime), 1, 1, CAST(N'2020-10-31T12:36:02.143' AS DateTime))
INSERT [dbo].[ResetPasswordVerification] ([ResetTokenId], [UserId], [GeneratedToken], [GeneratedDate], [Status], [VerificationStatus], [VerificationDate]) VALUES (2, 6, N'8eff13d4b4447b6e49867c31e3fcf6393225b90c014f147af452ef9b08c2171e', CAST(N'2020-10-31T12:52:32.240' AS DateTime), 1, 0, NULL)
INSERT [dbo].[ResetPasswordVerification] ([ResetTokenId], [UserId], [GeneratedToken], [GeneratedDate], [Status], [VerificationStatus], [VerificationDate]) VALUES (3, 6, N'f07b57a03ba6ae1e99ac3896fed5f4be125fcb1dd69057e1dba237db569a65a0', CAST(N'2020-10-31T13:23:57.250' AS DateTime), 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[ResetPasswordVerification] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleMaster] ON 

INSERT [dbo].[RoleMaster] ([RoleID], [RoleName], [Status], [CreatedOn], [ModifiedOn], [CreatedBy], [ModifiedBy]) VALUES (1, N'SuperAdmin', 1, CAST(N'2020-10-16T13:10:15.397' AS DateTime), NULL, 1, 0)
INSERT [dbo].[RoleMaster] ([RoleID], [RoleName], [Status], [CreatedOn], [ModifiedOn], [CreatedBy], [ModifiedBy]) VALUES (2, N'User', 1, CAST(N'2020-10-16T13:10:27.693' AS DateTime), CAST(N'2020-10-21T20:06:45.573' AS DateTime), 1, 9)
INSERT [dbo].[RoleMaster] ([RoleID], [RoleName], [Status], [CreatedOn], [ModifiedOn], [CreatedBy], [ModifiedBy]) VALUES (3, N'Admin', 1, CAST(N'2020-10-16T13:10:44.830' AS DateTime), NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[RoleMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[UserMaster] ON 

INSERT [dbo].[UserMaster] ([UserId], [UserName], [FirstName], [LastName], [EmailId], [MobileNo], [Gender], [Status], [CreatedBy], [IsFirstLogin], [CreatedOn], [ModifiedOn], [IsFirstLoginDate], [PasswordHash], [ModifiedBy]) VALUES (6, N'demoflash', N'Flash', N'Persi', N'flash@Frapper.com', N'900000001', N'M', 1, 1, 0, CAST(N'2020-10-17T19:51:03.470' AS DateTime), CAST(N'2020-10-31T14:09:34.403' AS DateTime), CAST(N'2020-10-17T19:51:03.470' AS DateTime), N'B98928FF32D0A1E2FD4F6CD1026567A3DF063349B4F8568A92705FEAC0A9149A535D2114FD5349EC2C0051D48D6C1FC2D2E5F3018C359261AD996A4C1C7DDC58', 1)
INSERT [dbo].[UserMaster] ([UserId], [UserName], [FirstName], [LastName], [EmailId], [MobileNo], [Gender], [Status], [CreatedBy], [IsFirstLogin], [CreatedOn], [ModifiedOn], [IsFirstLoginDate], [PasswordHash], [ModifiedBy]) VALUES (7, N'demofinnick', N'Finnick', N'Finnick', N'finnick@Frapper.com', N'900000002', N'M', 1, 1, 0, CAST(N'2020-10-17T21:32:10.880' AS DateTime), CAST(N'2020-10-18T18:08:42.353' AS DateTime), CAST(N'2020-10-17T21:32:10.880' AS DateTime), N'4BEE055019B539BF9B216216D091C2360733D19E9B067852CF0C35CA13227E7F4EFF58FE770AA4662B79C51F1F2DA82DC99E5628DF746C8D09110BDC33BFD391', 1)
INSERT [dbo].[UserMaster] ([UserId], [UserName], [FirstName], [LastName], [EmailId], [MobileNo], [Gender], [Status], [CreatedBy], [IsFirstLogin], [CreatedOn], [ModifiedOn], [IsFirstLoginDate], [PasswordHash], [ModifiedBy]) VALUES (8, N'demootterton', N'Otterton', N'Yak', N'otterton@Frapper.com', N'900000003', N'M', 1, 1, 0, CAST(N'2020-10-18T11:38:31.783' AS DateTime), CAST(N'2020-10-18T18:24:59.230' AS DateTime), CAST(N'2020-10-18T11:38:31.783' AS DateTime), N'4BEE055019B539BF9B216216D091C2360733D19E9B067852CF0C35CA13227E7F4EFF58FE770AA4662B79C51F1F2DA82DC99E5628DF746C8D09110BDC33BFD391', 1)
SET IDENTITY_INSERT [dbo].[UserMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTokenHistory] ON 

INSERT [dbo].[UserTokenHistory] ([UserTokenHistoryId], [PasswordSalt], [UserId], [CreatedDate]) VALUES (1, N'48335489974573072865', 6, CAST(N'2020-10-29T13:14:26.277' AS DateTime))
INSERT [dbo].[UserTokenHistory] ([UserTokenHistoryId], [PasswordSalt], [UserId], [CreatedDate]) VALUES (2, N'63676437509814300800', 6, CAST(N'2020-10-29T13:19:43.787' AS DateTime))
INSERT [dbo].[UserTokenHistory] ([UserTokenHistoryId], [PasswordSalt], [UserId], [CreatedDate]) VALUES (3, N'61796815308256070744', 6, CAST(N'2020-10-31T12:24:13.230' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserTokenHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTokens] ON 

INSERT [dbo].[UserTokens] ([HashId], [PasswordSalt], [UserId], [CreatedOn], [ModifiedOn]) VALUES (4, N'08786583358378629555', 6, CAST(N'2020-10-17T19:51:03.470' AS DateTime), CAST(N'2020-10-31T14:09:34.403' AS DateTime))
INSERT [dbo].[UserTokens] ([HashId], [PasswordSalt], [UserId], [CreatedOn], [ModifiedOn]) VALUES (5, N'48335489974573072865', 7, CAST(N'2020-10-17T21:32:10.883' AS DateTime), NULL)
INSERT [dbo].[UserTokens] ([HashId], [PasswordSalt], [UserId], [CreatedOn], [ModifiedOn]) VALUES (6, N'48335489974573072865', 8, CAST(N'2020-10-18T11:38:31.783' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[UserTokens] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Exceptions_ApplicationName_DeletionDate_CreationDate_Filtered]    Script Date: 20-11-2020 10.54.40 AM ******/
CREATE NONCLUSTERED INDEX [IX_Exceptions_ApplicationName_DeletionDate_CreationDate_Filtered] ON [dbo].[Exceptions]
(
	[ApplicationName] ASC,
	[DeletionDate] ASC,
	[CreationDate] DESC
)
WHERE ([DeletionDate] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Exceptions_ErrorHash_ApplicationName_CreationDate_DeletionDate]    Script Date: 20-11-2020 10.54.40 AM ******/
CREATE NONCLUSTERED INDEX [IX_Exceptions_ErrorHash_ApplicationName_CreationDate_DeletionDate] ON [dbo].[Exceptions]
(
	[ErrorHash] ASC,
	[ApplicationName] ASC,
	[CreationDate] DESC,
	[DeletionDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Exceptions_GUID_ApplicationName_DeletionDate_CreationDate]    Script Date: 20-11-2020 10.54.40 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Exceptions_GUID_ApplicationName_DeletionDate_CreationDate] ON [dbo].[Exceptions]
(
	[GUID] ASC,
	[ApplicationName] ASC,
	[DeletionDate] ASC,
	[CreationDate] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HealthCheckExecutionEntries_HealthCheckExecutionId]    Script Date: 20-11-2020 10.54.40 AM ******/
CREATE NONCLUSTERED INDEX [IX_HealthCheckExecutionEntries_HealthCheckExecutionId] ON [dbo].[HealthCheckExecutionEntries]
(
	[HealthCheckExecutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HealthCheckExecutionHistories_HealthCheckExecutionId]    Script Date: 20-11-2020 10.54.40 AM ******/
CREATE NONCLUSTERED INDEX [IX_HealthCheckExecutionHistories_HealthCheckExecutionId] ON [dbo].[HealthCheckExecutionHistories]
(
	[HealthCheckExecutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Exceptions] ADD  DEFAULT ((0)) FOR [IsProtected]
GO
ALTER TABLE [dbo].[Exceptions] ADD  DEFAULT ((1)) FOR [DuplicateCount]
GO
ALTER TABLE [dbo].[MenuMaster] ADD  CONSTRAINT [DF_MenuMaster_CreateDate]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_IsFirstLogin]  DEFAULT ((0)) FOR [IsFirstLogin]
GO
ALTER TABLE [dbo].[HealthCheckExecutionEntries]  WITH CHECK ADD  CONSTRAINT [FK_HealthCheckExecutionEntries_Executions_HealthCheckExecutionId] FOREIGN KEY([HealthCheckExecutionId])
REFERENCES [dbo].[Executions] ([Id])
GO
ALTER TABLE [dbo].[HealthCheckExecutionEntries] CHECK CONSTRAINT [FK_HealthCheckExecutionEntries_Executions_HealthCheckExecutionId]
GO
ALTER TABLE [dbo].[HealthCheckExecutionHistories]  WITH CHECK ADD  CONSTRAINT [FK_HealthCheckExecutionHistories_Executions_HealthCheckExecutionId] FOREIGN KEY([HealthCheckExecutionId])
REFERENCES [dbo].[Executions] ([Id])
GO
ALTER TABLE [dbo].[HealthCheckExecutionHistories] CHECK CONSTRAINT [FK_HealthCheckExecutionHistories_Executions_HealthCheckExecutionId]
GO
/****** Object:  StoredProcedure [dbo].[CustomerPagination]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[CustomerPagination]      
 @OrderBy varchar(20) = null,  
 @Search varchar(20) = null,  
 @PageNumber int,      
 @PageSize int      
as      
begin      
    
DECLARE @sqlCommand nvarchar(1000)   
  
if (@Search is null)  
begin  
  
SET @sqlCommand =     
'SELECT 
Customer_ID,      
FirstName,
LastName,
MobileNo,
LandlineNo,
EmailId,
Street,
City,
State,
Pincode,
CreatedOn
FROM Customers ORDER BY '+ @OrderBy  +    
' OFFSET '+ CONVERT(varchar(10),@PageSize)  +'*'  
+ '('+ CONVERT(varchar(10),@PageNumber) +'-' +'1) ROWS FETCH NEXT '  
+ CONVERT(varchar(10),@PageSize) +' ROWS ONLY OPTION (RECOMPILE); ';     
print @sqlCommand  
EXEC sp_executesql @sqlCommand;    
end  
else  
begin  
  
SET @sqlCommand =     
'SELECT 
Customer_ID,      
FirstName,
LastName,
MobileNo,
LandlineNo,
EmailId,
Street,
City,
State,
Pincode,
CreatedOn    
FROM Customers where FirstName like ''%'+ @Search +'%'' ORDER BY '+ @OrderBy  +    
' OFFSET '+ CONVERT(varchar(10),@PageSize)  +'*'  
+ '('+ CONVERT(varchar(10),@PageNumber) +'-' +'1) ROWS FETCH NEXT '  
+ CONVERT(varchar(10),@PageSize) +' ROWS ONLY OPTION (RECOMPILE); ';     
print @sqlCommand  
EXEC sp_executesql @sqlCommand;    
end  
  
  
end 
GO
/****** Object:  StoredProcedure [dbo].[GetCustomersCount]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetCustomersCount]    
 @Search varchar(20) = null  
as    
begin    
    
SELECT count(Customer_ID) FROM Customers   
where FirstName like '%'+ Case when @Search is null then FirstName else @Search end+'%'   
    
end 
GO
/****** Object:  StoredProcedure [dbo].[Usp_CustomerPagination]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_CustomerPagination]      
 @OrderBy varchar(20) = null,  
 @Search varchar(20) = null,  
 @PageNumber int,      
 @PageSize int      
as      
begin      
    
DECLARE @sqlCommand nvarchar(1000)   
  
if (@Search is null)  
begin  
  
SET @sqlCommand =     
'SELECT 
Customer_ID,      
FirstName,
LastName,
MobileNo,
LandlineNo,
EmailId,
Street,
City,
State,
Pincode,
CreatedOn
FROM Customers ORDER BY '+ @OrderBy  +    
' OFFSET '+ CONVERT(varchar(10),@PageSize)  +'*'  
+ '('+ CONVERT(varchar(10),@PageNumber) +'-' +'1) ROWS FETCH NEXT '  
+ CONVERT(varchar(10),@PageSize) +' ROWS ONLY OPTION (RECOMPILE); ';     
print @sqlCommand  
EXEC sp_executesql @sqlCommand;    
end  
else  
begin  
  
SET @sqlCommand =     
'SELECT 
Customer_ID,      
FirstName,
LastName,
MobileNo,
LandlineNo,
EmailId,
Street,
City,
State,
Pincode,
CreatedOn    
FROM Customers where FirstName like ''%'+ @Search +'%'' ORDER BY '+ @OrderBy  +    
' OFFSET '+ CONVERT(varchar(10),@PageSize)  +'*'  
+ '('+ CONVERT(varchar(10),@PageNumber) +'-' +'1) ROWS FETCH NEXT '  
+ CONVERT(varchar(10),@PageSize) +' ROWS ONLY OPTION (RECOMPILE); ';     
print @sqlCommand  
EXEC sp_executesql @sqlCommand;    
end  
  
  
end 
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetCustomersCount]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetCustomersCount]    
 @Search varchar(20) = null  
as    
begin    
    
SELECT count(Customer_ID) FROM Customers   
where FirstName like '%'+ Case when @Search is null then FirstName else @Search end+'%'   
    
end 
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetDateWiseUserDetails_Report]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc  [dbo].[Usp_GetDateWiseUserDetails_Report]  
@fromdate datetime,  
@todate DATETIME

as  
  
begin  

SELECT  U.UserName , U.FirstName, U.LastName,U.MobileNo,U.EmailId,CASE WHEN U.Gender='M'THEN 'Male'WHEN U.Gender='F'THEN 'Female'END AS Gender,
R.RoleName,
Convert(varchar(10),U.CreatedOn,110) as CreatedOn,
Convert(varchar(10),U.IsFirstLoginDate,110) as IsFirstLoginDate
from dbo.UserMaster U  
inner join dbo.AssignedRoles AR on U.UserId =AR.UserId 
inner join dbo.RoleMaster R on AR.RoleId =R.RoleID
where Convert(varchar(10),U.CreatedOn,110) between Convert(varchar(10),@fromdate,110) and Convert(varchar(10),@todate,110)  and U.Status =1  


END

GO
/****** Object:  StoredProcedure [dbo].[Usp_GetDateWiseUserSummary_Report]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc  [dbo].[Usp_GetDateWiseUserSummary_Report]    
@fromdate datetime,    
@todate DATETIME  
  
as    
    
begin    
  
SELECT Count(U.UserId) As TotalUsers,   
R.RoleName,  
Convert(varchar(10),U.CreatedOn,110) as CreatedOn  
from dbo.UserMaster U    
inner join dbo.AssignedRoles AR on U.UserId =AR.UserId   
inner join dbo.RoleMaster R on AR.RoleId =R.RoleID  
where Convert(varchar(10),U.CreatedOn,110) between Convert(varchar(10),@fromdate,110) and Convert(varchar(10),@todate,110)  and U.Status =1    
group by Convert(varchar(10),U.CreatedOn,110)  ,R.RoleName  
  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetNoticeforEditbyNoticeId]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Usp_GetNoticeforEditbyNoticeId]
@NoticeId int
as
BEGIN
SELECT CONVERT(VARCHAR, N.NoticeStart, 121) AS NoticeStart,
       CONVERT(VARCHAR, N.NoticeEnd, 121) AS NoticeEnd,
	   N.NoticeTitle,
	   N.NoticeId,
	   ND.NoticeBody,
	   N.Status
FROM Notice N
    INNER JOIN NoticeDetails ND
        ON N.NoticeId = ND.NoticeId
WHERE N.NoticeId = @NoticeId
      AND N.Status = 1;
END

GO
/****** Object:  StoredProcedure [dbo].[Usp_InsertCustomer]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Usp_InsertCustomer]
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @MobileNo VARCHAR(20),
    @LandlineNo VARCHAR(20),
    @EmailId NVARCHAR(100),
    @Street NVARCHAR(100),
    @City NVARCHAR(100),
    @STATE NVARCHAR(100),
    @Pincode VARCHAR(8),
    @CreatedBy BIGINT
AS
BEGIN

    INSERT INTO [dbo].[Customers]
    (
        [FirstName],
        [LastName],
        [MobileNo],
        [LandlineNo],
        [EmailId],
        [Street],
        [City],
        [State],
        [Pincode],
        [CreatedOn],
        [CreatedBy]
    )
    VALUES
    (@FirstName, @LastName, @MobileNo, @LandlineNo, @EmailId, @Street, @City, @STATE, @Pincode, GETDATE(), @CreatedBy);
END;
GO
/****** Object:  StoredProcedure [dbo].[Usp_ShowNotice]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Usp_ShowNotice]

AS
BEGIN

SELECT N.NoticeId
      ,N.NoticeTitle
	  ,ND.NoticeBody
	  ,N.NoticeStart
	  ,N.NoticeEnd
	  ,
	FORMAT (N.CreatedOn, 'dddd, MMMM, yyyy') as CreatedOn
  FROM Notice N
  INNER JOIN NoticeDetails ND ON  N.NoticeId =ND.NoticeId
  WHERE N.NoticeStart >= GETDATE() or GETDATE() <= N.NoticeEnd AND N.Status = 1

END
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateMenuCategoryOrder]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_UpdateMenuCategoryOrder]      
@MenuCategoryId int,      
@RoleId int,    
@SortingOrder int    
as      
begin      
update dbo.MenuCategory      
set MenuCategory.SortingOrder = @SortingOrder      
where MenuCategory.MenuCategoryId =@MenuCategoryId and  MenuCategory.RoleId =@RoleId    
end      
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateMenuOrder]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_UpdateMenuOrder]      
@MenuId int,      
@RoleId int,    
@SortingOrder int    
as      
begin      
update MenuMaster      
set MenuMaster.SortingOrder = @SortingOrder      
where MenuMaster.MenuId =@MenuId and  MenuMaster.RoleId =@RoleId    
end      
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdatePassword]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_UpdatePassword]  
    @UserId BIGINT,  
    @PasswordHash VARCHAR(300),  
    @PasswordSalt VARCHAR(100),
	@ProcessType VARCHAR(1)
AS  
BEGIN  
  
    DECLARE @OldPasswordHash VARCHAR(300);  
    DECLARE @OldPasswordSalt VARCHAR(100);  
  
    SET @OldPasswordHash =  
    (  
        SELECT TOP (1)  
               PasswordHash  
        FROM dbo.[UserMaster]  
        WHERE UserId = @UserId  
        ORDER BY UserId  
    );  
    SET @OldPasswordSalt =  
    (  
        SELECT TOP (1)  
               PasswordSalt  
        FROM dbo.[UserTokens]  
        WHERE UserId = @UserId  
        ORDER BY UserId  
    );  
  
    INSERT INTO [dbo].[PasswordHistory]  
    (  
        [PasswordHash],  
        [CreatedDate],  
        [UserId],
		[ProcessType]
    )  
    VALUES  
    (@OldPasswordHash, GETDATE(), @UserId,@ProcessType);  
  
  
    INSERT INTO [dbo].[UserTokenHistory]  
    (  
        [PasswordSalt],  
        [UserId],  
        [CreatedDate]  
    )  
    VALUES  
    (@OldPasswordSalt, @UserId, GETDATE());  
  
  
    UPDATE dbo.[UserMaster]  
    SET PasswordHash = @PasswordHash,  
        ModifiedOn = GETDATE()  
    WHERE UserId = @UserId;  
  
    UPDATE dbo.[UserTokens]  
    SET PasswordSalt = @PasswordSalt,  
        ModifiedOn = GETDATE()  
    WHERE UserId = @UserId;  
  
END;  
GO
/****** Object:  StoredProcedure [dbo].[Usp_ValidateNotice]    Script Date: 20-11-2020 10.54.40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Usp_ValidateNotice]
    @fromdatetime DATETIME,
    @todatetime DATETIME
AS
BEGIN

    IF (
       (
           SELECT COUNT(1)
           FROM Notice N
               INNER JOIN NoticeDetails ND
                   ON N.NoticeId = ND.NoticeId
           WHERE @fromdatetime 
                 BETWEEN N.NoticeStart AND N.NoticeEnd
				
				or @todatetime BETWEEN N.NoticeStart AND N.NoticeEnd
                 AND N.Status = 1
       ) > 0
       )
    BEGIN
        SELECT 1;
    END;
    ELSE
    BEGIN
        SELECT 0;
    END;
END;
GO
USE [master]
GO
